/* Giants-Bold 폰트 추가 */
@font-face {
  font-family: 'Giants-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
} 